<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listenser.ListenserAction" />
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/www.abcom.in/IdeaProjects/Bookswagon">
        <classes>
            <class name="com.testcase.LoginPageTest">
                <methods>
                    <include name="loginPage"/>
                    <include name="LoginTest"/>
                    <include name="multipleLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>